*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.side-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.side-container h3 {
  text-align: center;
}

.map-container {
  width: 70%; 
}

.form-container {
  width: 100%;
  padding: 30px 30px;
}

.list {
  padding: 15px 30px;
}

.card {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: 15px 0;
    padding: 10px 10px;
    color: black;
     -webkit-transition: all ease-in 0.2s; /* For Safari 3.1 to 6.0 */
    transition: all ease-in 0.2s;
}

.card:hover {
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  transform: scale(1.1, 1.1); 
  background-color: #5bc0de;
  color:white;
}

.card:hover .card-title {
  color:#2c3e50;
}

.card-title {
  color: grey;
}

.map {
  display: block;
  height: 100%;
}

.dropdown-info {
  display: none;
  font-size: 14px;
  padding: 6px 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

